loki-stack:
  loki:
    enabled: true

  promtail:
    enabled: true

  fluent-bit:
    enabled: false

  grafana:
    enabled: false

  prometheus:
    enabled: false

  logstash:
    enabled: false
