targetRevision: main
namespace: argocd

apps:
  argocd:
    enabled: true
    spec:
      project: addons
      source:
        repoURL: https://github.com/xaistrying/mini-homelab.git
        path: kubernetes/argocd-init
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

  addons:
    enabled: true
    spec:
      project: addons
      source:
        repoURL: https://github.com/xaistrying/mini-homelab.git
        path: kubernetes/addons
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

  workspaceLab:
    enabled: true
    spec:
      project: addons
      source:
        repoURL: https://github.com/xaistrying/mini-homelab.git
        path: kubernetes/workspace-lab
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

projects:
  addons:
    enabled: true
  workspaceLab:
    enabled: true
