argo-cd:
  namespaceOverride: argocd
  configs:
    params:
      server.insecure: "true"
  server:
    extraArgs:
      - --insecure
    ingress:
      enabled: true
      ingressClassName: traefik

      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"

      hosts:
        - argocd-lab.net
