---
- name: K3s Setup
  block:
    - name: Create K3s systemd environment file
      ansible.builtin.copy:
        dest: /etc/systemd/system/k3s.service.env
        content: |
          HTTP_PROXY={{ proxy_url }}
          HTTPS_PROXY={{ proxy_url }}
          NO_PROXY={{ no_proxy_list }}
        mode: '0644'

    - name: Download K3s install script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: /tmp/k3s_install.sh
        mode: '0700'
      environment:
        http_proxy: "{{ proxy_url }}"
        https_proxy: "{{ proxy_url }}"
        no_proxy: "{{ no_proxy_list }}"

    - name: Run K3s install script
      ansible.builtin.command:
        cmd: sh /tmp/k3s_install.sh
      environment:
        INSTALL_K3S_VERSION: "{{ k3s_version }}"
        K3S_KUBECONFIG_MODE: "644"
        INSTALL_K3S_EXEC: "--tls-san {{ ansible_host }}"
        http_proxy: "{{ proxy_url }}"
        https_proxy: "{{ proxy_url }}"
        no_proxy: "{{ no_proxy_list }}"
      args:
        creates: /usr/local/bin/k3s
      become: true

    - name: Create .kube directory for user
      ansible.builtin.file:
        path: /home/{{ ansible_user }}/.kube
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Copy kubeconfig to user home
      ansible.builtin.copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/{{ ansible_user }}/.kube/config
        remote_src: yes
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0600'

    - name: Set KUBECONFIG environment variable in .bashrc
      ansible.builtin.lineinfile:
        path: /home/{{ ansible_user }}/.bashrc
        line: "export KUBECONFIG=~/.kube/config"
        create: yes

    - name: Fetch k3s kubeconfig to local machine
      ansible.builtin.fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "{{ playbook_dir }}/../../kubernetes/kubeconfigs/lab.yaml"
        flat: yes
