---
- name: K3s Setup
  block:
    - name: Create K3s systemd environment file
      copy:
        dest: /etc/systemd/system/k3s.service.env
        content: |
          HTTP_PROXY={{ proxy_url }}
          HTTPS_PROXY={{ proxy_url }}
          NO_PROXY={{ no_proxy_list }}
        mode: '0644'

    - name: Install K3s
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE=644 INSTALL_K3S_VERSION="{{ k3s_version }}" sh -
      args:
        creates: /usr/local/bin/k3s # Skip if already installed
      environment:
        http_proxy: "{{ proxy_url }}"
        https_proxy: "{{ proxy_url }}"
        NO_PROXY: "{{ no_proxy_list }}"

    - name: Create .kube directory for user
      file:
        path: /home/{{ ansible_user }}/.kube
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Copy kubeconfig to user home
      copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/{{ ansible_user }}/.kube/config
        remote_src: yes
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0600'

    - name: Set KUBECONFIG environment variable in .bashrc
      lineinfile:
        path: /home/{{ ansible_user }}/.bashrc
        line: "export KUBECONFIG=~/.kube/config"
        create: yes
