victoria-metrics-k8s-stack:
  fullnameOverride: vm

  prometheus-node-exporter:
    enabled: true
    grafanaDashboard:
      enabled: false

  kube-state-metrics:
    enabled: true
    grafanaDashboard:
      enabled: false

  victoria-metrics-operator:
    enabled: true
    admissionWebhooks:
      enabled: false
    createCRD: true

  alertmanager:
    enabled: false

  vmalert:
    enabled: false

  grafana:
    enabled: true

    sidecar:
      datasources:
        enabled: true
        createVMReplicasDatasources: false
      dashboards:
        enabled: true

  defaultRules:
    create: true
    rules:
      etcd: false
      general: true
      k8s: true
      kubeApiserver: false
      kubeApiserverAvailability: false
      kubeApiserverSlos: false
      kubelet: false
      kubePrometheusGeneral: false
      kubePrometheusNodeRecording: false
      kubernetesApps: true
      kubernetesResources: true
      kubernetesStorage: false
      kubernetesSystem: false
      kubeScheduler: false
      kubeStateMetrics: true
      network: false
      node: true
