# {{ ansible_managed }}

[Interface]
# Server IP in VPN subnet
Address = 10.8.0.1/24

# UDP port to listen on
ListenPort = 51820

# Server's private key
PrivateKey = {{ server_privatekey }}

# Enable forwarding and NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
# Client's public key
PublicKey = {{ client_publickey }}

# Only allow traffic from client's VPN IP
AllowedIPs = 10.8.0.2/32

# Keep connection alive
PersistentKeepalive = 25
